*{
    margin: 0;
    padding: 0;
}

.order-container{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    
}

.order-container-1{
    width: 60%;
    height: auto;
    /* background-color: rgb(221, 221, 221); */
    margin-top: 2rem;
    text-align: center;

    
}


.order-list{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
   

    align-items: flex-start;
    /* background-color: rgb(47, 131, 204); */
}