.register-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.register-contents{
    width: 100%;
    height:calc(100vh - 3.5rem);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    justify-content: center;
 
}

.form-contents{
    width: 25rem;
 text-align: center;
    display: flex;
   flex-direction: column;
   /* height: 20rem; */
   margin-top: 2rem;
   /* background-color: cadetblue; */
   padding: 1rem;
}
.register-heading{
    color: rgb(70, 62, 62);
    margin-bottom: 1rem;
}

.register-input{
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 1rem;
    background-color: antiquewhite;
}
#profile{
    display: none;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
align-self: center;
margin:1rem  0;

}
.profile-image{
    background-color: rgb(71, 148, 219);
    height: 3rem;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image:hover{
    background-color: rgb(25, 116, 201);
}

.register-btn{
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(71, 148, 219);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.register-btn:hover{
    background-color: rgb(25, 116, 201);
}